.table2, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 300px;
    margin-top: 10px;
}

th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.table1 {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: grey;
    margin-top: 10px;
    width: 605px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #ffffff;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .highlight {
    background-color: lightblue;
  }

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0,8s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}